*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
body{
    font-family: 'Times New Roman', Times, serif;
    
}
ul, nav{
    list-style-type: none;
}
a{
    text-decoration: none;
    cursor: pointer;
    color: white;
}
header{
    position: absolute;
    top:0%;
    left: 0%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 35px 100px 0;
    background-image:url(background-image.jpg);
}
header nav{
    display: flex;
}
header h2{
    text-transform: uppercase;
}
header h2{
    display: flex;
}
header nav li{
    margin:0 15px;
}
/* header nav li:first-child{
    margin-left: 0px;
}
header nav li:last-child{
    margin-right: 0px;
} */

@media(max-width:100px){
    header{
        padding:20px 50px;
    }
}
@media (max-width:700px) {
    header{
        flex-direction: column;
    }
    header h2{
        margin-bottom: 15px;
    }
    header nav{
        margin:0 7px;
    }
    
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 110px;
}
@media (max-width:1000px){
    section{
        padding: 100px 50px;
    }
}
@media (max-width:600px){
    section{
        padding: 125px 30px;
    }
}
section p{
    max-width: 800px;
    text-align: center;
    margin-bottom: 35px;
    padding: 0 20px;
    line-height: 2;
}

.banner-area{
    position: relative;
    justify-content: center;
    min-height:100vh;
    color:black;
    text-align: center;
}
.banner-area .banner-img{
    
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background-size: cover;

}
.banner-area .banner-img{
    content: '';
    height: 100%;
    width: 100%;
    top:0;
    left: 0;
    position:absolute;
    background-color: #000;
    opacity: .4;

}
.banner-area h1{
    color: white;
    margin-bottom: 15px;
    font-size: 65px;
    font-family: Arial, Helvetica, sans-serif;
}
.banner-area a.banner-btn{
    padding:10px 35px;
    background: crimson;
    border-radius: 50px;
    text-transform: uppercase;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}
@media(max-width:800px){
    .banner-area{
        min-height:600px;

    }
    .banner-area h1{
        font-size: 32px;

    }
    .banner-area h2{
        font-size: 20px;

    }
    .banner-area a.banner-btn{
        padding: 15px 40px;

    }
}

ul.about-content{
    width: 100%;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
}

.about-content li{
    padding: 20px;
    height: 200px;
    background-clip: content-box;
    background-size: cover;
    background-position: center;

}

.about-left{
    flex-basis: 40%;
    background-image:url(backjpg.jpg);

}
.about-right{
    flex-basis: 60%;

}

.banner-area p{
    max-width: 800px;
    margin-bottom: 35px;
    line-height: 1.5px;
    text-align: left;
    padding-left: 0%;
}

.section-title{
    text-transform: uppercase;
    font-size: 50px;
    margin-bottom: 5%;

}

.about-right h2{
    margin-bottom:3%

}
.about-btn{
    padding: 15px 35px;
    background: crimson;
    border-radius:50px;
    text-transform:uppercase;
    color: black;
}

@media(max-width :1000px){
    .about-left, 
    .about-right{
        flex-basis: 100%;
    }
}